.list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 271px);
    gap: 24px;
    list-style: none;
    align-items: start;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat(auto-fit, 332px);
    }
}

@media (min-width: 1280px) {
    .list {
        grid-template-columns: repeat(auto-fit, 302px);
        grid-gap: 40px 24px;
    }
}

/* Стилі для пагінації */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination li {
  margin: 0 5px;
  list-style: none;
}

.pagination a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #787878;;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #787878;;
  color: white;
  cursor: pointer;
}

.pagination .active a {
  background-color: #787878;;
  color: white;
  pointer-events: none;
}

.pagination .disabled a {
  color: #ccc;
  pointer-events: none;
}

.pagination .previous,
.pagination .next {
  font-size: 1.1rem;
  font-weight: bold;
}

.pagination .previous a,
.pagination .next a {
  background-color: #f1f1f1;
  color: #333;
}

.pagination .previous a:hover,
.pagination .next a:hover {
  background-color: #ddd;
}
