.list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 271px);
    gap: 24px;
    list-style: none;
    align-items: start;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat(auto-fit, 332px);
    }
}

@media (min-width: 1280px) {
    .list {
        grid-template-columns: repeat(auto-fit, 302px);
        grid-gap: 40px 24px;
    }
}
